<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      <a href="/posts/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>posted by: {{post.user.username}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.post_body}}
    </p>{{#if comments.length}}
        <p class="comments">
            {{post.comment.text}}
        </p>
        {{/if}}
        <form>
            <label for='leaveComment'></label>
            <textarea class="form-input" id="leaveComment" name="leaveComment"></textarea>
            <button type='submit' id='submitComment'>comment</button>
        </form>
  </div>
</div>
{{/each}}


<script src='../public/js/newComment.js'></script>
